.Modal {
    z-index: 200;
    box-shadow: 0 2px 2px rgb(8, 7, 7);
    background-color: white;
    padding: 10px;
    margin: 10% auto;
    max-width: 70rem;
    transition: all 3s ease-in;
}

.ModalOpen {
    opacity: 1;
    transform: translateY(0);
    
}

.ModalClosed {
    opacity: 1;
    transform: translateY(-100%);
}