.backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s ease-in;
}

.backdropOpen {
    opacity: 1;
    transform: translateY(0);
    
}

.backdropClosed {
    opacity: 1;
    transform: translateY(-100%);
}