.Button, .FlowchartButton {
    background-color: rgb(230, 230, 230);
	height: 30px;
	text-align: center;
	cursor: pointer;
    padding: .2rem .4rem;
    min-width: 80px;
    margin-bottom: .7rem;
    margin-top: .2rem;
    color: #111;
    border: 2px solid rgb(52, 128, 52);
}

.Button:hover, .FlowchartButton:hover {
    background-color: rgb(52, 128, 52);
    color: white;
    transition: all .2s ease;
}

.FlowchartButton{
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 1rem;
}

.FlowchartButton::after {
    display: block;
    margin: .6rem auto;
    content: "";
    width: 2px;
    height: 1rem;
    background-color: black; 
}

.FlowchartButton:last-child::after{
    display: none;
}