.Button {
    position: relative;
    outline: none;
    border: none;
    background-color: rgb(132, 179, 132);
	height: 30px;
	text-align: center;
	cursor: pointer;
    padding: .2rem .4rem;
    min-width: 80px;
    margin-bottom: .7rem;
    margin-top: .2rem;
}

