.storybook {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

}

.storyTitle{
    flex-basis: 100%;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.bookSection{
    flex-wrap: wrap;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    padding: 2rem;
}

