.Toolbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.Toolbox .bottom {
    background-color: red;
}

.side {
    background-color: blue;
}