.Toolbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.colorful { 
    margin: .3rem;
}

.bottom {
    flex-direction: row;
    justify-content: space-around
}

.side {
    padding-top: 1rem;
    color: white;
    background-color: green;
    padding-left: .2rem;
}

@media screen and (max-width: 800px) {
    .side{
        flex-direction: row;
        justify-content: space-around;
        max-width: 400px;
        margin: 0 auto;
        background-color: transparent;
        margin-bottom: .3rem;
        padding-top: .3rem;
    }
}