.canvas {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    cursor: none;
}

.drawingArea{
    display: flex;
}

.pageNumber {
    display: block;
    color: rgb(32, 32, 32);
    text-align: center;
}

.title{
    width: 100%;
    flex-basis: 100%;
}

textarea{
    padding: .2rem .4rem;
    resize: none;
    width: 100%;
    margin-top: 1rem;
    min-height: 4rem;
}

@media screen and (max-width: 800px) {
    
    .drawingArea{
        flex-direction: column;
    }
    .storyArea {
        margin: 0 auto;
    }
}